{% extends 'base.html.twig' %}

{% block title %}Edit Pokemons{% endblock %}

{% block body %}
    <h1>Edit Pokemons</h1>

    {{ include('pokemons/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-outline-light" href="{{ path('app_pokemons_index') }}">back to list</a>

    {{ include('pokemons/_delete_form.html.twig') }}
{% endblock %}
