{% extends 'base.html.twig' %}

{% block title %}New Pokemons{% endblock %}

{% block body %}
    <h1>Create new Pokemons</h1>

    {{ include('pokemons/_form.html.twig') }}

    <a class="btn btn-primary btn-outline-light" href="{{ path('app_pokemons_index') }}">back to list</a>
{% endblock %}
